/vendor/
/node_modules/
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.*
!.env.example

# Python
.venv/
venv/
__pycache__/
*.pyc

# IDE / système
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db





# chaine de connexion sdes identifiants de connexion a la bd sur neon
# postgresql://neondb_owner:npg_3TdLXHjrCt7D@ep-misty-violet-b5lx9w8r-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require